
.App .TitleListArea{
  position:absolute;
  float: left;
  width: 20%;
  height: 100%;
  background:#ccc;
  padding: 20px 0 0 10px;

}

.App .TodoListArea{
  position:absolute;
  margin-top: 25px;
  margin-left: 25%;
  float: left;
  width: 80%;
  height: 100%;
}
.TitleListArea header{
  margin-bottom: 10px;
}

.TitleListArea input{
  margin-top: 10px;
  width: 90%;
  font-size: 15px;
}

.TitleListArea .ListArea{
  margin-left: 10px;
}

.TitleListArea .TitleEntry{
  padding: 5px;
  margin-top:5px;
  width : 90%;
  border-radius: 10px;
}
.TitleListArea .TitleEntry:hover {
  background-color: rgb(236, 236, 236);
}

.TitleListArea .footer {
  position:absolute;
  bottom:0;
  height:80px; 

}
.TodoListArea header button{
  font-size: 13px;
  margin-right: 5px;
}
.TodoListArea header div{
  font-size: 20px;
}
.TodoListArea .todoEntry {
  padding: 5px;
  width:50%;
  border-radius: 10px;
}
#inputTodoTag{
  margin-top: 10px;
  width: 50%;
  font-size: 15px;
}
.TodoListArea .todoEntry:hover{
  background-color: rgb(236, 236, 236);
}